{% extends 'layout/nav.html' %} {% load static %}
{% block title %} About {% endblock title %}
{% block content %}
<div class="container mt-5 pt-3">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quod
    velit, rem accusantium dicta ab consectetur hic provident suscipit
    praesentium et labore aperiam est incidunt quo, laudantium quia sequi
    facilis maxime repudiandae iure libero quos ipsa? Repudiandae odit unde quos
    culpa deleniti? In perspiciatis reprehenderit mollitia eos quos. Rerum
    doloribus vitae nisi totam dolores? Dolor nam mollitia veritatis esse
    exercitationem voluptate inventore, illo rem iste quisquam hic. Sed,
    repellat reiciendis!
  </p>

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{% static 'yo.jpg' %}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">David Hillton</h5>
            <p class="card-text">Este es mi proyecto para PYTHON con Django. Soy estudiante de CoderHouse desde el 2021 y gusta mucho programar y aprender.</p>
            <p><a href="https://Linkedin.com/in/david-hillton">Linkedin</a></p>
            <p><a href="https://github.com/D4vid-H">Github</a></p>
            <p class="card-text"><small class="text-muted">{% now "SHORT_DATETIME_FORMAT" %}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
