{% extends 'layout/nav.html' %} 
{% block title %} updateProduct {% endblock title %}
{% block content %}
<div class="container mt-5 pt-3">
  <!-- Form-->
  <form action="{% url 'form_product' %}" method="POST">
    {% csrf_token %}
    <!-- Aca esta la magia de Django -->
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Nombre</label>
      <input type="text" value={{product.name}} name="name" class="form-control" id="inputEmail4" />
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Tamaño</label>
      <input type="text" value={{product.size}} name="size" class="form-control" id="inputEmail4" />
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Unidad</label>
      <select id="inputState" name="measure" class="form-select">
        {% for measure in measures %}
        <option>{{measure}}</option>
        {% endfor %}
      </select>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Codigo</label>
      <select id="inputState" name="code" class="form-select">
        <option selected>{{product.code}}</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Proveedor</label>
      <select id="inputState" name="provider" class="form-select">
        <option selected>{{product.brand}}</option>
      </select>
    </div>
    <input type="submit" class="btn btn-primary mb-2 mt-2" value="Enviar" />
    <a href="/product/" class="btn btn-primary mb-2 mt-2">volver</a>
  </form>
</div>

{% endblock %}
