{% extends 'layout/nav.html' %} {% block content %}

<div class="container mt-5 pt-3">
  <!-- Form-->
  <form class="row g-3" action="/form_product/" method="POST">
    {% csrf_token %}
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Nombre</label>
      <input type="text" name="name" class="form-control" id="inputEmail4" />
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Tamaño</label>
      <input type="text" name="size" class="form-control" id="inputEmail4" />
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Proveedor</label>
      <select id="inputState" name="provider" class="form-select">
        <option selected>Seleccionar...</option>
        {% for provider in providers %}
        <option>{{provider.brand}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>

    <div class="m-3">
      <div class="text-center">
        <div class="row">
          {% for product in products %}
          <div class="col-3 m-1">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.size}} ml</p>
                <a href="{% url 'form_product_update' product.id %}" class="btn btn-primary">Editar</a>
                <a href="{% url 'form_product_delete' product.id %}" class="btn btn-primary">Borrar</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="col-12">
      <a href="/product/" class="btn btn-primary">volver</a>
    </div>
</div>

{% endblock %}
