{% extends 'layout/nav.html' %} 
{% block title %} addPurchase {% endblock title %}
{% block content %}
<div class="container mt-5 pt-3">
  <!-- Form-->
  <form class="row g-3" action="{% url 'form_purchase' %}" method="POST">
    {% csrf_token %}
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Cantidad</label>
      <input
        type="number"
        min="1"
        value="1"
        name="amount"
        class="form-control"
        id="inputEmail4"
      />
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Productos</label>
      <select id="inputState" name="product" class="form-select">
        <option selected disable>Productos</option>
        {% for product in products %}
        <option>{{product.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-4">
      <p class="form-label">Cliente</p>
        <p class="h3">{{client.first_name}} {{client.last_name}}</p>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <p class="text-danger">{{message}}</p>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
    <div class="col-12">
      <a href="{% url 'product' %}" class="btn btn-primary">volver</a>
    </div>
  </form>
</div>
{% endblock %}
