{% extends 'layout/nav.html' %} {% block content %}

<div class="container mt-5 pt-3">
  <!-- Form-->
  <ul>
    <li>{{product}}</li>
  </ul>
  <form action="/form_product/" method="POST">
    {% csrf_token %}
    <!-- Aca esta la magia de Django -->
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Nombre</label>
      <input type="text" name="name" class="form-control" id="inputEmail4" />
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Tamaño</label>
      <input type="text" name="size" class="form-control" id="inputEmail4" />
    </div><div class="col-md-4">
      <label for="inputState" class="form-label">Codigo</label>
      <select id="inputState" name="code" class="form-select">
        <option selected>{{product.code}}</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Proveedor</label>
      <select id="inputState" name="provider" class="form-select">
        <option selected>{{product.brand}}</option>
      </select>
    </div>
    <input type="submit" value="Enviar" />
  </form>
  <div class="col-12">
    <a href="/product/" class="btn btn-primary">volver</a>
  </div>
</div>

{% endblock %}
