{% extends 'layout/form_head.html' %} 
{% block title %} Login {% endblock title %}
{% block content%}
    <form action="" method="POST">
        {% csrf_token%}
        <div class="container row bg-secondary rounded-2 w-50 mt-4 pt-3 pb-3">
            <div class="col-4">
                <p>{{message}}</p>
            </div>
          <div class="col-6 w-25 text-start">{{form.as_p}}</div>
            <center><button type="submit" class="btn btn-primary mb-2">Iniciar Sesion</button></center>
            <center><a type="sub" class="btn btn-primary me-1 mb-2" href="/register/">Registrar </a>
            <a type="sub" class="btn btn-primary mb-2" href="/">Volver</a></center>
        </div>
    </form>
{% endblock %}
