{% extends 'layout/nav.html' %} {% block content %}
<div class="container mt-5 pt-3">
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quod
    velit, rem accusantium dicta ab consectetur hic provident suscipit
    praesentium et labore aperiam est incidunt quo, laudantium quia sequi
    facilis maxime repudiandae iure libero quos ipsa? Repudiandae odit unde quos
    culpa deleniti? In perspiciatis reprehenderit mollitia eos quos. Rerum
    doloribus vitae nisi totam dolores? Dolor nam mollitia veritatis esse
    exercitationem voluptate inventore, illo rem iste quisquam hic. Sed,
    repellat reiciendis!
  </div>
  <div class="justify-content-around d-flex flex-fill">
    <a href="/form_brand" class="btn btn-primary m-4">Agregar Proveedor</a>
    <a href="/form_product" class="btn btn-primary m-4">Agregar producto</a>
    <a href="/form_client" class="btn btn-primary m-4">Agregar cliente</a>
    <a href="/form_purchase" class="btn btn-primary m-4">Agregar venta</a>
    <div class="d-flex m-auto">
      <form class="d-flex" role="search" action="/product_search/" method="POST">{% csrf_token %}
        <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
  <div class="mb-4">
    <div class="text-center">
      <div class="row">
        {% for product in products %}
        <div class="col-3 m-1">
          <div class="card" style="width: 18rem">
            <!--<img src="..." class="card-img-top" alt="...">-->
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text">{{product.size}} ml</p>
              <a href="/form_purchase/" class="btn btn-primary">comprar</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
