{% extends 'layout/nav.html' %} {% load static %}
{% block title %} Products {% endblock title %}
{% block content %}


<div class="container mt-5 pt-3">
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quod
    velit, rem accusantium dicta ab consectetur hic provident suscipit
    praesentium et labore aperiam est incidunt quo, laudantium quia sequi
    facilis maxime repudiandae iure libero quos ipsa? Repudiandae odit unde quos
    culpa deleniti? In perspiciatis reprehenderit mollitia eos quos. Rerum
    doloribus vitae nisi totam dolores? Dolor nam mollitia veritatis esse
    exercitationem voluptate inventore, illo rem iste quisquam hic. Sed,
    repellat reiciendis!
  </div>
  <div class="justify-content-around d-flex flex-fill">
    {% if request.user.is_superuser or request.user.is_staff%}
    <a href="{% url 'form_brand' %}" class="btn btn-primary m-4">Agregar Proveedor</a>
    <a href="{% url 'form_product' %}" class="btn btn-primary m-4">Agregar producto</a>
    <a href="{% url 'form_purchase' %}" class="btn btn-primary m-4">Agregar venta</a>
    {% endif %}
    <div class="d-flex m-auto">
      <form class="d-flex" role="search" action="/product_search/" method="POST">{% csrf_token %}
        <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>

  <h1 class="text-start">PRODUCTOS</h1>
 <!-- card -->
  <div class="mb-4">
    <div class="text-center">
      <div class="row">
        {% for product in products %}
        <div class="col-3 m-1">
          <div class="card mb-3" style="max-width: 18rem;">
            <div class="row g-0">
              <div class="col-md-4">
                {% static product.name as image %}
                <img src="{{image}}.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{product.name}}</h5>
                  <p class="card-text">{{product.size}} {{product.measure}}</p>
                  <a href="/form_purchase/" class="btn btn-primary">comprar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
   <!-- end card -->
</div>
{% endblock %}
