{% extends 'layout/nav.html' %}{% load static %}
{% block title %} Purchase {% endblock title %}
{% block content %}
<div class="container mt-5 pt-3">
  <p>
    <b>Lorem ipsum dolor sit amet consectetur adipisicing elit.</b> Assumenda
    quod velit, rem accusantium dicta ab consectetur hic provident suscipit
    praesentium et labore aperiam est incidunt quo, laudantium quia sequi
    facilis maxime repudiandae iure libero quos ipsa? Repudiandae odit unde quos
    culpa deleniti? In perspiciatis reprehenderit mollitia eos quos. Rerum
    doloribus vitae nisi totam dolores? Dolor nam mollitia veritatis esse
    exercitationem voluptate inventore, illo rem iste quisquam hic. Sed,
    repellat reiciendis!
  </p>  
  <div>
      <div class="col-md-4">
        <p>Cliente</p>
        <p class="text-capitalize text-center text h2">{{user.first_name}} {{user.last_name}}</p>
      </div>
  </div>
  <!-- card -->
  <p>Ventas</p>
  <div class="mb-4">
    <div class="text-center">
      <div class="row">
        {% for purchase in purchases %}
        <div class="col-3 m-1">
          <div class="card mb-3" style="max-width: 18rem;">
            <div class="row g-0">
              <div class="col-md-4">
                {% static purchase.product.name as image %}
                <img src="{{image}}.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-text">{{purchase.product.name}}</h5>
                  <p class="card-text">Unidades: {{purchase.amount}}</p>
                  <p class="card-text">Tamaño: {{purchase.product.size}} {{purchase.product.measure}}</p>
                  <p class="card-text"><small class="text-muted">{{purchase.timestamp}}</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
 <!-- end card -->
</div>
{% endblock %}
