{% extends 'layout/nav.html' %} {% block content %}
<div class="container mt-5 pt-3">
  <p>
    <b>Lorem ipsum dolor sit amet consectetur adipisicing elit.</b> Assumenda
    quod velit, rem accusantium dicta ab consectetur hic provident suscipit
    praesentium et labore aperiam est incidunt quo, laudantium quia sequi
    facilis maxime repudiandae iure libero quos ipsa? Repudiandae odit unde quos
    culpa deleniti? In perspiciatis reprehenderit mollitia eos quos. Rerum
    doloribus vitae nisi totam dolores? Dolor nam mollitia veritatis esse
    exercitationem voluptate inventore, illo rem iste quisquam hic. Sed,
    repellat reiciendis!
  </p>
  <div>
    <form class="row g-3" action="/purchase/" method="POST">{% csrf_token %}
      <div class="col-md-4">
        <label for="inputState" class="form-label">Clientes</label>
        <select id="inputState" name="client" class="form-select">
          <option selected disabled>Seleccionar...</option>
          {% for client in clients %}            
            <option>{{client.id}} - {{client.name}} {{client.last_name}}</option>         
          {% endfor %}
        </select>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>
  <div class="mb-4">
    <div class="text-center">
      <div class="row">
        {% for purchase in purchases %}
        <div class="col-3 m-1">
          <div class="card" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title">{{purchase.product.name}}</h5>
              <p class="card-text">{{purchase.amount}}u x {{purchase.product.size}} ml</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</div>
{% endblock %}
