{% extends 'layout/form_head.html' %} 
{% block title %} Register {% endblock title %}
{% block content%}
    <form action="" method="POST">
        {% csrf_token%}
        <div class="container bg-secondary rounded-2 w-50 mt-4 pt-3 pb-3">
            <div class="container w-50 text-start">{{form.as_p}}</div>
            <center><button type="sub" class="btn btn-primary mb-2">Registrarse</button></center>
            <center><a type="sub" class="btn btn-primary" href="/">Volver</a></center>
        </div>

    </form>
{% endblock %}